h1 {
    color: white;
    background-color: red;
   padding: 10px;
   border: solid 5px yellow;
   text-align: center;
   font-size: 300%;
   width: 30%;
}

div.header1 {
    padding: 1px;
    background-color: lightpink;
    text-align: center;
    font-size: 120%;
    width: 30%;
    padding: 1%;
    border: solid 2px grey;
    user-select: none;
}

div.boks {
    background-color: lightgrey;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    font-size: medium;
    text-align: left;
    
}

div.img {
     display: block;
    margin-left: 13%;
    margin-right: 20%;
    width: 71%;
}

div.img2 {
    display: block;
    margin-left: 13%;
    margin-right: 20%;
    width: 71%;
}

div.link {
    text-align: left;
    font-style: italic;
    font-size: 90%;
    padding: 5%;
    margin: -16.5px;
    background-color: lightgray;
    border: 2px solid gray;

}
