h1 {
    color: white;
    background-color: red;
   padding: 10px;
   border: solid 5px yellow;
   text-align: center;
   font-size: 70px;
   width: 300px;
}

div.header1 {
    padding: 1px;
    background-color: lightpink;
    text-align: center;
    font-size: 30px;
    width: 300px;
    padding: 10px;
    border: solid 2px grey;
    user-select: none;
}

div.boks {
    background-color: lightgrey;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    font-size: medium;
    text-align: left;
    
}

div.img {
     display: block;
    margin-left: 1px;
    margin-right: 1px;
    width: 1px;
}

div.img2 {
    display: block;
    margin-left: 1px;
    margin-right: 1px;
    width: 1px;
}

div.link {
    text-align: left;
    font-style: italic;
    font-size: 20px;
    padding: 1px;
    margin: -12px;
    background-color: lightgray;
    border: 2px solid gray;

}

div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

button{
    height: 30px;
    width: 60px;
    background-color: rgb(220, 159, 18);
}

div.button1 {
    text-align: left;

}

div.button2 {
    text-align: center;
    
}

div.button3 {
    text-align: right;
    
}



